<!DOCTYPE html>
<html>
<head>
  <title>Travelungo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class=body>

  <div class="main">

    <footer>
      <div class="main-menu">
        
        <ul class="main-menu__list">
          <li class="main-menu__list-item">
            <div class="main-menu__list-item__content">
              <h1 class="logo"><a href="/">Travelungo</a></h1>
            </div>
          </li>
          <li class="main-menu__list-item">
            <div class="main-menu__list-item__content">
              <%= link_to "投稿一覧", posts_path, class: 'post' %>
            </div>
          </li>

        <% if user_signed_in? %>

          <li class="main-menu__list-item">
            <div class="main-menu__list-item__content">
            <span>
              <%= link_to "マイページ", "/users/#{current_user.id}" %>
            </span>
            </div>
          </li>
          <li class="main-menu__list-item">
            <div class="main-menu__list-item__content">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </div>
          </li>
          <li class="main-menu__list-item">
            <div class="main-menu__list-item__content">
              <%= link_to "新規投稿", new_post_path, class: "post" %>
            </div>
          </li>

        <% else %>
          
          <li class="main-menu__list-item">
            <div class="main-menu__list-item__content">
              <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            </div>
          </li>
          <li class="main-menu__list-item">
            <div class="main-menu__list-item__content">
              <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
            </div>
          </li>
                  
        <% end %>
            
        </ul>
      </div>

      <div class="main-bottom">
        <p>Copyright 2019.</p>
      </div>
    </footer>
  </div>

</body>
</html>