<%= render partial: "shared/side_bar" %>
<%= render partial: "shared/footer_menu" %>

<div class="main">
  <div class="main-content">
    
    <div class="container">
    <%= form_for @post do |form| %>
      <h1>新規投稿</h1>
      <p>
      <select name="example">
      <option value="選択肢1">アジア</option>
      <option value="選択肢2">オセアニア</option>
      <option value="選択肢3">ハワイ・太平洋諸島</option>
      <option value="選択肢4">北米</option>
      <option value="選択肢5">中南米</option>
      <option value="選択肢6">ヨーロッパ</option>
      <option value="選択肢7">中東</option>
      <option value="選択肢8">アフリカ</option>
      </select>
      </p>
      <%= form.text_field :country, placeholder: "詳細な場所" %><br>
      <%= form.select :visit_date, ['2010'], prompt: '' %><br>
      <%= form.select :visit_cost, ['3万円未満', '3~5万円', '5~7万円', '7~10万円', '10~15万円', '15~20万円', '20~25万円', '25~30万円', '30~40万円', '40~50万円', '50万円以上'], prompt: '選択してください' %><br>
      <%= form.select :visit_length, ['1日未満', '1~3日', '3~5日', '5日~7日', '7~10日', '10~15日', '15~20日', '20日以上'], prompt: '選択してください' %><br>
      <%= form.text_field :language, placeholder: "言葉について" %><br>
      <div class="images">
      <label class="image-area" for="post_image">
        <%= fa_icon("image 4x") %>
        <input class="hidden" type="file" name="message[image]" id="post_image">
      </label>
      </div>
      
      <div class="total_rate">
        <div class="field_title">
          <p>総合点</p>
        </div>
        <div class="field" id="star1">
         <%= form.hidden_field :total_rate, class: "form-control"  %><br>
        </div>
        <script>
        $('#star1').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'post[total_rate]',
          half: true,
        });
        </script>
      </div>
        
      <div class="food_rate">
        <div class="field_title">
          <p>食事の良さ</p>
        </div>
        <div class="field" id="star2">
        <%= form.hidden_field :food_rate, class: "form-control"  %><br>
        </div>
        <script>
        $('#star2').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'post[food_rate]',
          half: true,
        });
        </script>
      </div>

        <div class="hotel_rate">
          <div class="field_title">
            <p>宿泊の良さ</p>
          </div>
          <div class="field" id="star3">
          <%= form.hidden_field :hotel_rate, class: "form-control"  %><br>
          </div>
          <script>
          $('#star3').raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'post[hotel_rate]',
            half: true,
          });
          </script>
        </div>

        <div class="entertainment_rate">
        <div class="field_title">
          <p>エンターテインメント</p>
        </div>
        <div class="field" id="star4">
         <%= form.hidden_field :entertainment_rate, class: "form-control"  %><br>
        </div>
        <script>
        $('#star4').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'post[entertainment_rate]',
          half: true,
        });
        </script>

        <div class="sightseeing_rate">
        <div class="field_title">
          <p>観光の良さ</p>
        </div>
        <div class="field" id="star5">
         <%= form.hidden_field :sightseeing_rate, class: "form-control"  %><br>
        </div>
        <script>
        $('#star5').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'post[sightseeing_rate]',
          half: true,
        });
        </script>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.raty.js"></script>
        
        
 
      </div>
      
      <%= form.text_area :content, placeholder: "text", size: "60x5" %><br>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
      </div>
    </div>
  </div>
</div>



<%#= form.label :star %>
            <%#= form.hidden_field :star, id: :review_star %>